<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar default-color-dark">
  
  <a class="navbar-brand" href="#">EUREKA Transport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <div class="col col-md-3"></div>

      <div class="col col-md-6">
        <ul class="navbar-nav justify-content-end" style="width: auto;">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <mdb-icon fas icon="house-damage"></mdb-icon>
              Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              
            <a class="nav-link" href="#"><mdb-icon fas icon="search"></mdb-icon>Rechercher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mdb-icon fas icon="plus-circle"></mdb-icon>Publier</a>
          </li>
        </ul>
      </div>
  
  
      <div class="col col-md-3">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">S'inscrire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Se connecter</a>
              </li>
        </ul>
      </div>
</div>
</nav>

