

    <div class="banner-parallax container-fluid">

      
    </div>
    
    
    <div class="search-form container-fluid" >
        <h2>Rechercher des kilos libres</h2>
        <div class="form-inline justify-content-center" style="margin-top:25px;">

                <div class="md-form" style="margin-left: 19px;margin-top: 20px;">
                        <i class="fas fa-plane-departure prefix"></i>
                        <input mdbInputDirective type="text" id="form1" class="form-control"  style="width: 255px;">
                        <label for="form1" class="">Depart</label>
                        
                </div>

                <div class="md-form" style="margin-left: 19px;">
                        <i class="fas fa-plane-arrival prefix"></i>
                        <input mdbInputDirective type="text" id="form2" class="form-control" style="width: 255px; ">
                        <label for="form2" class="">Arrivée</label>
                        
                </div>

                <div class="md-form" style="margin-left: 19px;">
                        <i class="far fa-calendar-alt prefix"></i>
                        <input mdbInputDirective type="text" id="form3" class="form-control"  style="width: 255px;">
                        <label for="form3" class="">Date</label>
                        
                </div>

                <button mdbBtn style="width: 400px;" class="justify-content-center" type="button" color="default" rounded="true" mdbWavesEffect>C'est parti !</button>

        </div>

    </div>
   
